<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Heroes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="verInformacionHeroes()">Ver Información Heroes</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-heroes [unosHeroes]="unosHeroes" [tipo]="unTipo"></app-heroes>

  <!-- Comentarios adicionales o secciones según sea necesario -->

  <!--
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  -->
</ion-content>
